@{
    ViewBag.Title = "Sobre Nosotros";
    ViewBag.Message = "Marie A. Zacarias Morro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Muestra la página de about *@
<h2>@ViewBag.Title</h2>
<h3>Conoce a quienes están detrás de este proyecto</h3>
<br />
<h4>@ViewBag.Message</h4>
<h4>Prof. Omar Díaz</h4>
<br />
<p>
    Curso: SICI 4038- Taller Seminario de Investigación VH1
    Para cualquier duda te puedes comunicar a: <a href="mailto:mazm1093@gmail.com?Subject=InternUPR%20Contact" target="_top">mazm1093@gmail.com</a>
</p>
<br />
<p>
    internUPR es una plataforma para facilitarle al estudiantado de la UPR la busqueda de internados.
    Con este proyecto se busca promover la economia y posibles oportunidades de trabajo para recién graduados o aquellos a punto de graduarse.
</p>
