@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Marie A. Zacarias Morro";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Prof.Omar Díaz<br />
    SICI 4038 Taller Seminario de Investigación VH1<br />
</address>

<address>
    Para cualquier duda favor de comunicarse a:<br />
    <strong>Email:</strong>   <a href="mailto:mazm1093@gmail.com">mazm1093@gmail.com</a><br />
    <abbr title="Phone">P:</abbr>
    787-619-3220
</address>